@*This is test page*@


        <div class="container" >
		
			<!-- Codrops top bar -->
            <div class="codrops-top">
                <a href="http://tympanus.net/Tutorials/CSS3ImageAccordion/">
                    <strong>&laquo; Previous Demo: </strong>Image Accordion with CSS3
                </a>
                <span class="right">
                    <a href="http://tympanus.net/codrops/2012/06/12/css-only-responsive-layout-with-smooth-transitions/">
                        <strong>Back to the Codrops Article</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
			
			<div class="st-container" ng-controller="TableCtrl">
			
				<input type="radio" name="radio-set" checked="checked" id="st-control-1"/>
				<a href="#st-panel-1">All Characters</a>
				<input type="radio" name="radio-set" id="st-control-2"/>
				<a href="#st-panel-2">{{currentChar.name}}</a>
				<input type="radio" name="radio-set" id="st-control-3"/>
				<a href="#st-panel-3">Tranquillity</a>
				<input type="radio" name="radio-set" id="st-control-4"/>
				<a href="#st-panel-4">Positivity</a>
				<input type="radio" name="radio-set" id="st-control-5"/>
				<a href="#st-panel-5">Passion</a>
				
				<div class="st-scroll" >
				
					<!-- Placeholder text from http://hipsteripsum.me/ -->
					
                    <section class="st-panel" id="st-panel-1">
                        
                        <div class="st-deco" data-icon="L"></div>
                       
                        <div class="table">
                            <p style="float:left"><strong>Page:</strong> {{tableParams.page()}} of {{tableParams.count()}}</p>
                            <span style="float:right"><strong style="text-align: right">Filter:</strong> <input class="form-control" type="text" ng-model="filter.$" /></span>
                        
                            <table ng-table="tableParams" class="table">
                                <tr ng-repeat="char in $data">
                                    <td data-title="'Name'" >
                                        <a href="#" ng-click="changeChar(char)"><img width="24" height="24" ng-src="{{char.iconPath}}"></img> {{char.name}} </a>
                                    </td>
                                    <td data-title="'Organization'">
                                        {{char.orgName}}
                                    </td>
                                    <td data-title="'Type'">
                                        {{char.orgType}}
                                    </td>
                                    <td>
                                        {{char.description}}
                                    </td>
                                    <td>
                                        {{char.stats}}
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </section>
					
				    <section class="st-panel st-color" id="st-panel-2">
				        
				        <div id="st-panel-2inner">
				            <div class="st-deco" data-icon="2"></div>
					   
				            @*This is for View*@
				            <div class="char-page-root" ng-show="!editCharEnabled">
				                <div class="char-main-image">
				                    <img ng-src="{{currentChar.defaultPicPath}}" />
				                </div>
				                <div class="char-stats">
				                    <p><label>Name: </label>{{currentChar.name}}</p>
				                    <p><label>Organization: </label>{{currentChar.orgName}}</p>
				                    <p><label>Type: </label>{{currentChar.orgType}}</p>
				                    <p><label>Description: </label>{{currentChar.description}}</p>
				                    <p><label>Stats: </label>{{currentChar.stats}}</p>
				                    <p><a href="#" ng-click="editChar()">Edit</a></p>
				                </div>
				                
				            </div>
                        
				            @*This is for Edit*@
				            <div class="char-page-root" ng-show="editCharEnabled">
				                <div class="char-main-image">
				                    <img ng-src="{{currentChar.defaultPicPath}}" />
				                </div>
				                <div class="char-stats">
				                    <p><label>Name: </label><input ng-model="currentChar.name"></p>
				                    <p><label>Organization: </label><input ng-model="currentChar.orgName" /></p>
				                    <p><label>Type: </label><input ng-model="currentChar.orgType" /></p>
				                    <p><label>Description: </label><textarea ng-model="currentChar.description" class="textarea"></textarea></p>
				                    <p><label>Stats: </label><input type="number"ng-model="currentChar.stats" /></p>
                                    <p><a href="#" ng-click="saveChar()">Done</a></p>
				                </div>
				                
				            </div>
				        </div>
				    </section>
					
					<section class="st-panel" id="st-panel-3">
						<div class="st-deco" data-icon="B"></div>
						<h2>Tranquillity</h2>
						<p>Sint aute occaecat id vice. Post-ironic fap pork belly next level godard, id fanny pack williamsburg forage truffaut.</p>
					</section>
					
					<section class="st-panel st-color" id="st-panel-4">
						<div class="st-deco" data-icon="x"></div>
						<h2>Positivity</h2>
						<p>Mixtape fap leggings art party, butcher authentic farm-to-table you probably haven't heard of them do labore cosby sweater.</p>
					</section>
					
					<section class="st-panel" id="st-panel-5">
						<div class="st-deco" data-icon="Ç"></div>
						<h2>Passion</h2>
						<p>Fixie ad odd future polaroid dreamcatcher, nesciunt carles bicycle rights accusamus mcsweeney's mumblecore nulla irony.</p>
					</section>

				</div><!-- // st-scroll -->
				
			</div><!-- // st-container -->
			
        </div>
