



@*<div class="widthpx1200 center ">
    <div class="width5 float-left background-grey" >
        <div class="char-main-image center">
            <img src="~/Images/testpromys.png" class="center">
        </div>
    </div>
    
    <div class="width5 background-blue float-left">
        <p>yoyoyoyo</p>
    </div>
</div>*@
    

<div class="container">
    <div class="row-fluid">     
        <div class="span12">
            <div class="counter">
                <div>
                    <img class="over" src="~/Images/luffyG4-256x171.png" alt="1" />
                </div>
                <img src="~/Images/cardtest.png" alt="bg" />
            </div>
        </div>           
    </div>
</div>

<div class="container">
    <div class="row-fluid">     
        <div class="span12">
            <div class="counter">
                <div>
                    <img class="over" src="~/Images/luffydefault.jpg" alt="1" />
                    
                    <div class="transbox">
                        <img src="~/Images/strawhatlogo.jpg" style="height:25px; width:25px;" />
                        <span>This is some text that is placed in the transparent box.</span>
                    </div>

                </div>
                <img src="~/Images/cardtest.png" alt="bg" />
            </div>
        </div>           
    </div>
</div>
