


@*<div class="width10 " >*@
  <div class="widthpx1200 center ">
    <div class="width5 float-left background-grey" >
        <div class="char-main-image center">
            <img src="~/Images/testpromys.png" class="center">
        </div>
    </div>
    
      <div class="width5 background-blue float-left">
          <p>yoyoyoyo</p>
      </div>
    </div>
@*</div>*@