



@*<div class="widthpx1200 center ">
    <div class="width5 float-left background-grey" >
        <div class="char-main-image center">
            <img src="~/Images/testpromys.png" class="center">
        </div>
    </div>
    
    <div class="width5 background-blue float-left">
        <p>yoyoyoyo</p>
    </div>
</div>*@
    
<div class="container">
	
    <div class="row-fluid">     
        <div class="span12">
            <div id="counter">
                <img id="over" src="http://www.bit-101.com/blog/wp-content/uploads/2009/05/ball.png" alt="1" />
                <img src="http://i.telegraph.co.uk/multimedia/archive/02351/cross-eyed-cat_2351472k.jpg" alt="bg" />
            </div>
        </div>           
    </div>
	
</div>