@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>

<div ng-controller="TableCtrl">

@*    <p><strong>Page:</strong> {{tableParams.page()}}

    <p><strong>Count per page:</strong> {{tableParams.count()}}*@

    <table ng-table="tableParams" class="table">
        <tr ng-repeat="user in data">
            <td data-title="'Name'">
                {{user.name}}
            </td>
   @*         <td data-title="'Age'">
                {{user.age}}
            </td>*@
        </tr>
    </table>
</div>

<div ng-controller="OrganizationCtrl">
    <h6>test 15 - Add Character</h6>
    <form ng-submit="addChara()">
        <label>Name</label> <input type="text" ng-model="charaName"/>
        <label>Organization</label>
        <select id="sel2" class="input-block-level" ng-model="orgId" ng-options="obj.id as obj.name for obj in listAllOrg.data"></select>
        <input type="submit"/>
    </form>

    <h6>test 14 - Get dropdown of all organizations</h6>
    <select id="sel" class="input-block-level" ng-model="list_category" ng-options="obj.id as obj.name for obj in listAllOrg.data"></select>
    <p>$scope.list_category: {{list_category}}</p>
    
    <h6>test 13 - Add Organization</h6>
    <form ng-submit="addOrg()">
        <input type="text" ng-model="orgName"/>
        <input type="submit"/>
    </form>
    

</div>

